.page-header__title {
    font-size: 45px
}

.page-header__subtitle {
    font-size: 22px
}

.tags {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.tag {
    margin: 4px 1px
}

.subjectsLink {
    white-space: nowrap;
    display: inline-block;
    margin: 4px
}

.subjectsLink:hover {
    text-decoration: underline
}

.arrow {
    border: solid #006693;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    width: .5em;
    height: .5em;
    position: relative;
    margin: 0
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.org-button {
    display: inline-block;
    color: #fff !important;
    min-width: 250px;
    margin-bottom: 0;
    border: 2px solid #006693;
    transition: all .2s;
    padding: 10px 20px
}

.org-button:hover {
    background-color: #fff;
    color: #006693 !important
}

.tags-panel {
    padding-bottom: 1rem
}

.shelf {
    background-color: #e4f5fa;
    border-radius: 10px;
    padding: 30px 0;
    margin: 20px 0;
}

.shelf .title-result {
    padding-left: 8px;
    padding-right: 8px
}

.shelf__header {
    border-bottom: 1px solid #70cde3;
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    padding-top: 0
}

.shelf__header-text {
    padding: 0 !important
}

.shelf__link {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 18px
}

.shelf__link:hover {
    text-decoration: underline
}

.shelf__description {
    margin: 0;
    padding: 0 !important
}

.shelf__row {
    margin: 0
}

.type-icon {
    top: 8px
}

.title-result {
    padding: .5rem 0 0 0
}

.title-result__title {
    margin-bottom: 3px
}

.title-result__creator {
    color: #333
}

.ad-butler-ad-panel {
    padding-top: 0
}

.featured-collections-panel {
    text-align: center;
    margin-left: 12px;
    margin-right: 12px
}

.featured-collections-table {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 1.5rem;
    column-gap: 12px;
}


.featured-collection-header.shelf__header {
    border: 0;
    padding: 0 4%;
    margin-bottom: .2rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    ;
    font-weight: bold
}

.featured-collection .collections-block .title-container .title-result .type-icon {
    left: 4px
}

.opacity-2 {
    opacity: .2
}

.title-result:hover .type-icon.opacity-2,
.title-result:hover .title-result__cover.opacity-2 {
    transform: translateY(0)
}

.title-result:hover .featured-collection-see-all-link {
    text-decoration: underline
}

.title-result:hover .opacity-2 img {
    box-shadow: 0 8px 20px 1px rgba(6, 35, 64, .6)
}

.mobile-featured-collection-see-all-link {
    display: none
}

.featured-collection-see-all-link {
    position: absolute;
    top: 37%;
    left: 19%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    ;
    color: #006595 !important;
    font-weight: bold;
    width: 62%
}
.row-title{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 8px;
    padding: 0 8px;
    position: relative;
}

.row-title .see-more{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;

}

.row-title .see-more:hover{
    background-color: #fff;
}

.collections-block .title-result {
    float: none;
    display: inline-block;
    width: 24%
}

.collections-panel__header {
    padding-top: 0
}

.horizontal-ad.ad-one {
    margin-top: 5rem
}

.horizontal-ad.ad-two {
    margin-top: 5rem;
    margin-bottom: 5rem
}

.horizontal-ad,
.horizontal-ad a,
.horizontal-ad a img {
    display: block;
    width: 100%
}

.horizontal-ad a img {
    min-height: 50px;
    max-height: 90px;
    max-width: 728px;
    margin: auto
}

.adbutler-ad {
    margin: 5rem auto 0;
    width: 728px
}

.adbutler-ad.mobile {
    display: none;
    width: 320px
}

@media screen and (max-width:1024px) {
    .mobile-featured-collection-see-all-link {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        ;
        color: #006595 !important;
        font-weight: bold;
        width: 96%;
        border: 1px solid #006595;
        border-radius: 5px;
        margin: auto;
        padding: .5rem 0
    }

    .collections-block .title-result:nth-child(4),
    .featured-collection-see-all-link {
        display: none
    }

    .collections-block .title-result {
        width: 32.3%;
        margin-bottom: 0 !important
    }

    .featured-collection.shelf {
        padding-bottom: 2%;
        margin: 1%
    }
}

@media screen and (min-width:992px) {
    .shelf .title-result {
        padding-left: 12px;
        padding-right: 12px
    }
    .row-title{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .featured-collections-table {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}

@media screen and (max-width:991px) {
    .page-header__title {
        font-size: 40px
    }

    .page-header__subtitle {
        font-size: 20px
    }

    .subjectsLink {
        display: block;
        margin-top: 1em
    }
}

@media screen and (max-width:768px) {

    .title-result:nth-child(1),
    .title-result:nth-child(2),
    .title-result:nth-child(3) {
        margin-bottom: 2em
    }

    .featured-collection.shelf {
        flex-basis: 100%;
        margin: 2% 0%
    }

    .adbutler-ad {
        display: none
    }

    .adbutler-ad.mobile {
        display: block
    }
}

@media screen and (max-width:479px) {
    .page-header__title {
        font-size: 35px
    }

    .page-header__subtitle {
        font-size: 18px
    }

    .shelf__header {
        border-bottom: 0
    }

    .shelf__link {
        font-size: 14px
    }

    .shelf__row {
        margin: 0 -12px
    }

    .title-result:nth-child(4) {
        margin-bottom: 2em
    }

    .collections-block .title-result {
        width: 30.3%
    }
}